:root {
  /* header color */
  --header-nav-text: #2468a6;
  --header-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  --header-nav-bcg: #ffffff;
  --logo-color: #1697d2;
  --header-mob-menu-bcg: #0c67bd;

  /* hero color */

  --hero-h1-color: #ffffff;

  /* main text color */

  --title-color: #2468a6;
  --subtitle-color: #0c67bd;
  --second-subtitle-color: #0079bf;
  --text-color: #333333;
  --icon-stroke: #0c67bd;

  /* main background color */

  --body-bcg: #ffffff;

  /* background wrap width */
  --mob-background-image: 320px;
  --mob-background-how-to-use-wrap: 292px;
  --mob768-hero-background-wrap: 768px;
  --tab-hero-background-wrap: 1024px;
  --desk-hero-background-wrap: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--body-bcg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}
