:root {
  /* header color */
  --header-nav-text: #2468a6;
  --header-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  --header-nav-bcg: #ffffff;
  --logo-color: #1697d2;
  --header-mob-menu-bcg: #0c67bd;

  /* hero color */

  --hero-h1-color: #ffffff;

  /* main text color */

  --title-color: #2468a6;
  --subtitle-color: #0c67bd;
  --second-subtitle-color: #0079bf;
  --text-color: #333333;
  --icon-stroke: #0c67bd;

  /* main transition */
  --nav-link-tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --btn-tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --link-tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mob-menu-tra: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --mob-menu-btn-tra: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --scroll-to-top-btn-tra: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  --img-tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* main background color */

  --body-bcg: #ffffff;

  /* background wrap width */
  --mob-background-hero: 320px;
  --mob-background-image: 272px;
  --mob768-hero-background-wrap: 768px;
  --tab-hero-background-wrap: 1024px;

  /* Blog Post Page common margin */
  --blog-post-main-margin: 16px;
  --blog-post-second-margin: 32px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--body-bcg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}

/* Common styles */

.no-scroll {
  overflow: hidden;
}

.img {
  max-width: 100%;
  margin: 0 auto;
}

/* All Pages Containers */

.header-container {
  min-width: 260px;
  max-width: 1248px;
  padding: 0px 12px;
  margin: 0 auto;
}

.footer-container {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}

.contraindications-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Category Pages Text styles */

.h1-title {
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.12;
  text-transform: uppercase;
  color: var(--hero-h1-color);
}

@media screen and (max-width: 767px) {
  .h1-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .h1-title {
    font-size: 42px;
  }
}

@media screen and (min-width: 1024px) {
  .h1-title {
    font-size: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .h1-title {
    font-size: 70px;
    line-height: 1.11;
  }
}

.h2-title {
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--title-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .h2-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .h2-title {
    font-size: 40px;
    line-height: 1.25;
  }
}

.h2-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.47;
  color: var(--text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .h2-subtitle {
    font-size: 20px;
    line-height: 1.4;
  }
}

.common-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.47;
  color: var(--text-color);
}

/* Common Hover Focus Style */

@media screen and (min-width: 1440px) {
  .img-hover {
    transition: transform var(--img-tra);
  }

  .img-hover:hover,
  .img-hover:focus {
    transform: scale(1.2);
  }
}
