/* Common styles */

.container {
  min-width: 260px;
  max-width: 1277px;
  padding: 0px 24px;
  margin: 0 auto;
}

.hero-container {
  min-width: 260px;
  max-width: 1248px;
  padding: 0px 24px;
  margin: 0 auto;
}

.about-features-container,
.why-legkolaks-use-video {
  max-width: 100%;
  margin: 0 auto;
}

.how-to-use-container {
  min-width: 252px;
  max-width: 1250px;
  padding: 0px 24px;
  margin: 0 auto;
}

/* HEADER Section Styles */

.header {
  padding-top: 9px;
  padding-bottom: 9px;
  box-shadow: var(--header-shadow);
}

.header-container {
  display: flex;
  align-items: center;
}

/* logo style */

.logo {
  color: var(--logo-color);
  margin-right: auto;
}

/* navigation style */

.backdrop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header-nav-mob {
    display: none;
    transition: var(--mob-menu-tra);
    transform: translateY(-100%);
  }

  .backdrop.show {
    display: block;
    position: fixed;
    z-index: 40;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  .header-nav-mob.show-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 29px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: var(--header-height);
    right: 0;
    overflow-y: auto;
    background-color: var(--body-bcg);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: translateY(0%);
  }

  .header-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 36px;
  }

  .header-nav-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header-nav-link {
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--subtitle-color);
  transition: color var(--nav-link-tra);
}

.header-nav-link:is(:hover, :focus) {
  color: #25bbfe;
}

.current {
  color: #a3a3a3;
}

/* pharmacy style */

.pharmacy-link {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  font-family: "PF Square Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #333333;
  background-color: #fcc400;
  border-radius: 60px;
  text-align: center;
  transition: background-color var(--btn-tra), border-color var(--btn-tra);
}

@media screen and (max-width: 309px) {
  .pharmacy-link {
    display: none;
  }
}

.pharmacy-text-mob {
  margin-left: 10px;
}

@media screen and (max-width: 1023px) {
  .pharmacy-text-desk {
    display: none;
  }
}

/* mobile menu button */

.header-mob-menu-btn {
  width: 32px;
  height: 19px;
  border: none;
  margin-left: 16px;
  background-color: transparent;
  transition: all var(--mob-menu-btn-tra);
  position: relative;
}

.header-mob-menu-btn:before,
.header-mob-menu-btn:after,
.header-mob-menu-line {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--header-mob-menu-bcg);
  border-radius: 3px;
  transition: all var(--mob-menu-btn-tra);
}

.header-mob-menu-btn:before {
  top: 0;
  left: 0;
}

.header-mob-menu-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-mob-menu-btn:after {
  left: 0;
  bottom: 0;
}

.show-cross.header-mob-menu-btn:after {
  top: 40%;
  transform: rotate(-45deg) translate(0, 40%);
}

.show-cross .header-mob-menu-line {
  transform: scale(0);
}

.show-cross.header-mob-menu-btn:before {
  top: 45%;
  bottom: auto;
  transform: rotate(45deg) translate(0, -45%);
}

.show-cross.header-mob-menu-btn:after,
.show-cross.header-mob-menu-btn:before {
  background-color: #c4c4c4;
}

/* Add class on button click "show-cross" */
.header-mob-menu-btn:focus,
.header-mob-menu-btn:active,
.header-mob-menu-btn.show-cross {
  outline: none;
}

/* language box style */

@media screen and (max-width: 1023px) {
  .lang-list {
    display: none;
  }

  .lang-mob-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .lang-mob-item {
    background-color: #b8e8ff;
    border-radius: 5px 15px;
    flex-basis: calc((100% - 20) / 2);
    width: 39px;
    height: 39px;
  }

  .lang-mob-list .lang-mob-item:nth-child(2) {
    display: none;
  }

  .lang-pipeline {
    display: none;
  }
}

.lang-ru,
.lang-uz,
.lang-pipeline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PF Square Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #a3a3a3;
  transition: color var(--link-tra);
  width: 100%;
  height: 100%;
}

.lang-ru:is(:hover, :focus),
.lang-uz:is(:hover, :focus) {
  color: #40c4fe;
}

.lang-ru:is(:active),
.lang-uz:is(:active) {
  color: #0c67bd;
}

.lang-pipeline {
  color: #2468a6;
  border-radius: 20px;
  width: 2px;
}

/* HERO Section Style */

.hero {
  padding-top: 28px;
  padding-bottom: 31px;
}

.hero-background {
  background-image: linear-gradient(180deg, #2687c6 28.65%, #11e4fc 100%);
  border-radius: 20px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  padding: 69px 0 198px;
  position: relative;
  margin: 0 auto;
}

.hero-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.11;
  color: var(--hero-h1-color);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--hero-h1-color);
  text-transform: uppercase;
  margin-left: -15px;
}

.hero-woman-img-pic {
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-60%);
  z-index: 1;
  width: 225px;
}

.hero-legkolax_packs-img-pic {
  position: absolute;
  bottom: -4%;
  left: 60%;
  transform: translateX(-128%);
  z-index: 2;
  width: 129px;
}

@media screen and (min-width: 460px) {
  .hero-woman-img-pic {
    left: 56%;
  }

  .hero-legkolax_packs-img-pic {
    transform: translateX(-141%);
  }
}

@media screen and (min-width: 550px) {
  .hero-legkolax_packs-img-pic {
    transform: translateX(-145%);
  }
}

@media screen and (min-width: 665px) {
  .hero-woman-img-pic {
    left: 54%;
  }

  .hero-legkolax_packs-img-pic {
    transform: translateX(-158%);
  }
}

@media screen and (min-width: 730px) {
  .hero-legkolax_packs-img-pic {
    transform: translateX(-162%);
  }
}

/* ABOUT Section Style */

.about {
  padding-bottom: 84px;
}

@media screen and (max-width: 1439px) {
  .about-bubble-medium {
    display: none;
  }
}

.about-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .about-text-list {
    margin-bottom: 28px;
  }
}

.about-text-item:not(:last-child) {
  margin-bottom: 16px;
}

.about-text {
  line-height: 1.47;
}

.about-cause-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 64px;
}

.about-img-pic {
  width: 126px;
  border-radius: 12px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  overflow: hidden;
}

.about-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.47;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 6px;
}

.about-subtitle-text {
  font-size: 15px;
  line-height: 1.47;
}

/* about features style */

.about-features-background {
  background-image: url(../img/svg/icon-thread-desk.svg);
  background-repeat: no-repeat;
  background-position: top 20% left 78%;
}

.about-features-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8%;
}

@media screen and (min-width: 400px) {
  .about-features-list {
    gap: 10%;
  }
}

.about-features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.about-features-link {
  color: var(--subtitle-color);
  transition: color var(--link-tra);
}

@media screen and (max-width: 767px) {
  .about-features-link {
    width: 70px;
  }
}

.about-features-img {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border: 2px solid #0c67bd;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.about-features-woman-icon,
.about-features-girl-icon,
.about-features-pregnant-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-features-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.about-features-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
}

.about-features-arrow {
  width: 9px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-features-arrow-icon {
  display: inline-block;
  fill: currentColor;
}

@media screen and (max-width: 1023px) {
  .about-features-text {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .about-features-background {
    background-position: top 20% left 81%;
  }

  .about-features-item {
    width: 85px;
  }

  .about-features-img {
    width: 62px;
    height: 62px;
  }
}

@media screen and (min-width: 650px) {
  .about-features-background {
    background-position: top 20% left 84%;
  }

  .about-features-img {
    width: 68px;
    height: 68px;
  }
}

/* WHY LEGKOLAKS Section Style */

.why-legkolaks {
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .why-legkolaks-img {
    margin-bottom: 28px;
  }
}

.why-legkolaks-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .why-legkolaks-content-list {
    margin-bottom: 28px;
  }
}

.why-legkolaks-content-item:not(:last-child) {
  margin-bottom: 16px;
}

.why-legkolaks-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--text-color);
}

/* why legkolaks box style */

.why-legkolaks-box-list {
  border: 1px solid var(--subtitle-color);
  border-radius: 10px;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .why-legkolaks-box-list {
    margin: 28px auto;
  }
}

.why-legkolaks-box-item:not(:last-child) {
  margin-bottom: 16px;
}

.why-legkolaks-box-item {
  display: flex;
  align-items: center;
}

.why-legkolaks-box-item:last-child {
  align-items: flex-start;
}

.why-legkolaks-box-pic {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 0.89;
  color: var(--second-subtitle-color);
  border: 1px solid var(--second-subtitle-color);
  padding: 8px 17px;
  border-radius: 50%;
  margin-right: 20px;
}

.why-legkolaks-box-title {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--second-subtitle-color);
  text-transform: uppercase;
}

.why-legkolaks-box-text {
  font-size: 16px;
  line-height: 1.56;
}

.why-legkolaks-box-icon {
  margin-right: 12px;
}

/* why legkolaks use style */

.why-legkolaks-use-list {
  margin-bottom: 28px;
}

.why-legkolaks-use-item:not(:last-child) {
  margin-bottom: 16px;
}

.why-legkolaks-use-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.why-legkolaks-use-icon {
  width: 40px;
  height: 40px;
}

.why-legkolaks-use-text {
  font-size: 16px;
  line-height: 1.56;
}

.why-legkolaks-use-link-btn {
  width: 155px;
}

.why-legkolaks-use-link {
  display: block;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
  background-color: #fcc400;
  border: 2px solid #ffc700;
  border-radius: 20px 60px;
  text-align: center;
  transition: color var(--btn-tra), border var(--btn-tra), background-color var(--btn-tra);
}

@media screen and (max-width: 767px) {
  .why-legkolaks-use-link-btn {
    margin: 0 auto;
  }
}

.why-legkolaks-use-video {
  background-image: url(../img/svg/icon-thread-mob.svg);
  background-repeat: no-repeat;
  background-position: bottom 10% left 35%;
  position: relative;
  padding: 28px 0 28px;
}

@media screen and (min-width: 480px) {
  .why-legkolaks-use-video {
    background-position: center;
    background-size: contain;
  }
}

.why-legkolaks-use-video-img {
  margin: 0 auto;
  width: 90%;
}

.why-legkolaks-use-video-icon-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.why-legkolaks-use-video-icon {
  background-color: #fcc400;
  border-radius: 50%;
  transition: background-color var(--btn-tra);
}

@media screen and (min-width: 420px) {
  .why-legkolaks-use-video-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 650px) {
  .why-legkolaks-use-video-icon {
    width: 50px;
    height: 50px;
  }
}

/* HOW TO USE Section Style */

.how-to-use {
  padding-bottom: 52px;
}

.how-to-use-woman-img-wrap {
  position: relative;
}

@media screen and (max-width: 767px) {
  .how-to-use-woman-img-wrap {
    margin: 0 auto;
    margin-bottom: 28px;
  }
}

.how-to-use-pack-img {
  position: absolute;
  right: 45%;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 700px) and (max-width: 767px) {
  .how-to-use-pack-img {
    right: 47%;
  }
}

.how-to-use-title {
  margin-bottom: 12px;
}

.how-to-use-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.47;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .how-to-use-subtitle {
    margin-bottom: 20px;
  }
}

.how-to-use-link-btn {
  width: 155px;
}

.how-to-use-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
  padding: 12px 16px;
  background-color: #fcc400;
  border: 2px solid #ffc700;
  border-radius: 20px 60px;
  text-align: center;
  transition: color var(--btn-tra), border var(--btn-tra), background-color var(--btn-tra);
}

.how-to-use-list {
  margin-top: 32px;
  margin-bottom: 32px;
}

.how-to-use-item:not(:last-child) {
  margin-bottom: 16px;
}

.how-to-use-wrap {
  display: flex;
  gap: 12px;
}

.how-to-use-icon {
  width: 40px;
  height: 40px;
}

.how-to-use-text {
  font-size: 16px;
  line-height: 1.56;
}

/* How to use age box */

.how-to-use-age-box {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 17px;
}

.how-to-use-age-box-list {
  min-width: 160px;
  max-width: 180px;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #addbf9;
  display: flex;
  flex-wrap: wrap;
}

.how-to-use-age-box-item-first,
.how-to-use-age-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: calc(129px / 2);
  flex-basis: 100%;
  padding: 10px 10px;
}

.how-to-use-age-box-item:first-child {
  border-bottom: 1px solid #addbf9;
}

.how-to-use-age-box-item-first:first-child {
  background-image: linear-gradient(180deg, #25bbfe 0%, #11e8fe 100%);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ffc700;
}

.how-to-use-age-box-item-first:last-child {
  background-image: linear-gradient(180deg, #0fe7fd 0%, #26b9fd 100%);
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #ffc700;
}

.how-to-use-age-box-text-first {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
}

.how-to-use-age-box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #4f4f4f;
  text-align: center;
}

/* Общий стиль полосы прокрутки */
::-webkit-scrollbar {
  height: 4px; /* Высота полосы прокрутки */
  width: 4px; /* Ширина полосы прокрутки */
}

/* Стиль трека (фона) полосы прокрутки */
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border-radius: 8px;
}

/* Стиль thumb (ползунка) полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 8px;
}

/* Стиль ползунка при наведении на него курсора */
::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

/* Общий стиль полосы прокрутки для Firefox */
* {
  scrollbar-color: #969696 #f6f6f6; /* Цвет thumb и трека */
  scrollbar-width: thin; /* Ширина полосы прокрутки */
}

/* Стиль thumb (ползунка) полосы прокрутки для Firefox */
*::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 8px;
}

/* Стиль thumb (ползунка) полосы прокрутки для Edge и IE */
*::-ms-thumb {
  background-color: #969696;
  border-radius: 8px;
}

/* Стиль трека (фона) полосы прокрутки для Edge и IE */
*::-ms-track {
  background-color: #f6f6f6;
  border-radius: 8px;
}

/* FOOTER Section Style */

.footer {
  padding: 0 0 80px;
}

.footer-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-text {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #5d5d5d;
}

/* CONTRAINDICATIONS Section Style */

.contraindications {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(244, 244, 244, 0.6);
  padding: 4px 4px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.6);
}

.contraindications-icon {
  background-image: url(../img/svg/icon-contraindications.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60px;
}

/* SCROLL BUTTON Style */

#scrollToTopBtn {
  position: fixed;
  bottom: 120px;
  right: 25px;
  background-image: url(../img/svg/icon-scroll-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: rgba(248, 248, 248, 0.78);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-color: transparent;
  width: 40px;
  height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--scroll-to-top-btn-tra),
    visibility var(--scroll-to-top-btn-tra);
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

/* ----------MEDIA 768px Style---------- */

@media screen and (min-width: 768px) {
  /* Common styles */

  .header-container {
    padding: 0 24px;
  }

  /* HEADER Section Styles */

  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .logo-icon {
    width: 134px;
    height: 21px;
  }

  /* navigation style */

  @media screen and (max-width: 1023px) {
    .header-nav-mob.show-nav {
      padding: 40px 50px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .header-nav-list {
      margin-bottom: 54px;
    }

    .header-nav-item:not(:last-child) {
      margin-bottom: 32px;
    }

    .header-nav-link {
      font-size: 24px;
    }
  }

  .lang-mob-list {
    gap: 16px;
  }

  .lang-ru,
  .lang-uz {
    font-size: 18px;
    line-height: 1.14;
  }

  .lang-pipeline {
    width: 3px;
  }

  /* pharmacy style */

  .pharmacy-link {
    padding: 10px 26px;
  }

  /* mobile menu button */

  .header-mob-menu-btn {
    width: 40px;
    height: 21px;
    margin-left: 60px;
  }

  .header-mob-menu-btn:before,
  .header-mob-menu-btn:after,
  .header-mob-menu-line {
    height: 3px;
  }

  .show-cross.header-mob-menu-btn:after,
  .show-cross.header-mob-menu-btn:before {
    width: 32px;
  }

  /* HERO Section Style */

  .hero {
    padding-top: 60px;
    padding-bottom: 65px;
  }

  .hero-background {
    max-width: 1200px;
  }

  .hero-title-wrap {
    position: absolute;
    top: 15%;
    left: 55%;
  }

  .hero-woman-img-pic {
    bottom: 0;
    left: 20%;
    transform: translateX(-20%);
    width: 260px;
  }

  .hero-legkolax_packs-img-pic {
    bottom: 10%;
    left: 60%;
    transform: translateX(-10%);
    width: 168px;
  }

  /* ABOUT Section Style */

  .about {
    padding-bottom: 65px;
  }

  .about-desk-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 0;
  }

  .about-cause-list {
    align-items: center;
    margin-bottom: 0;
  }

  /* about features style */

  .about-features-background {
    background-position: top 50% center;
    background-size: 135% auto;
    padding-top: 82px;
  }

  .about-features-img {
    width: 72px;
    height: 72px;
  }

  .about-features-woman-icon {
    width: 32px;
  }

  .about-features-girl-icon {
    width: 29px;
  }

  .about-features-pregnant-icon {
    width: 24px;
  }

  @media screen and (max-width: 1023px) {
    .about-features-link {
      width: 76px;
    }
  }

  /* WHY LEGKOLAKS Section Style */

  .why-legkolaks-desk-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 28px;
    margin-bottom: 36px;
  }

  .why-legkolaks-desk-flex {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .why-legkolaks-content-list {
    margin-bottom: 0;
  }

  .why-legkolaks-box-list {
    margin: 0;
  }

  @media screen and (min-width: 900px) {
    .why-legkolaks-box-wrap {
      margin-top: 4%;
    }

    .why-legkolaks-use-wrap {
      margin-top: -3%;
    }
  }

  .why-legkolaks-use-video {
    background-position: top 60% left 75%;
    background-size: auto;
  }

  .why-legkolaks-use-video-img {
    width: 80%;
  }

  .why-legkolaks-use-video-icon {
    width: 60px;
    height: 60px;
  }

  /* HOW TO USE Section Style */

  .how-to-use {
    padding-bottom: 90px;
  }

  .how-to-use-desk-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
  }

  .how-to-use-desk-flex {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .how-to-use-pack-img {
    transform: translateX(-5%);
  }

  .how-to-use-subtitle-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .how-to-use-subtitle {
    max-width: 205px;
  }

  .how-to-use-list {
    margin-bottom: 0px;
  }

  /* Footer Section Style */

  .footer {
    padding-bottom: 88px;
  }

  /* CONTRAINDICATIONS Section Style */

  .contraindications-icon {
    height: 70px;
  }

  /* SCROLL BUTTON Style */

  #scrollToTopBtn {
    right: 50px;
  }
}

/* ----------MEDIA 1024px Style---------- */

@media screen and (min-width: 1024px) {
  /* Common styles */

  .container {
    padding: 0px 72px;
  }

  /* HEADER Section Styles */

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /* logo style */

  .logo-icon {
    width: 128px;
    height: 26px;
  }

  /* navigation style */

  .lang-mob-list {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 36px;
  }

  .header-nav-link {
    font-size: 17px;
  }

  /* pharmacy style */

  .pharmacy-link {
    margin-left: auto;
    margin-right: 40px;
    border: 1px solid #ffc700;
    border-radius: 20px 60px;
    width: 170px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 24px;
  }

  .pharmacy-text-mob,
  .pharmacy-icon {
    display: none;
  }

  /* mobile menu button */

  .header-mob-menu-btn {
    display: none;
  }

  /* language box style */

  .lang-list {
    display: flex;
    gap: 12px;
  }

  .lang-ru,
  .lang-uz,
  .lang-pipeline {
    font-size: 16px;
    color: #acacac;
    line-height: 1.18;
  }

  /* HERO Section Style */

  .hero {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  .hero-background {
    padding: 180px 0 180px;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 20px;
    margin-left: -10px;
  }

  .hero-woman-img-pic {
    width: 340px;
  }

  .hero-legkolax_packs-img-pic {
    width: 204px;
  }

  /* ABOUT Section Style */

  .about {
    padding-bottom: 70px;
    position: relative;
  }

  .about-desk-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .about-text-list {
    margin-bottom: 0;
  }

  .about-cause-wrap {
    display: flex;
    margin-bottom: 0;
  }

  .about-img-pic {
    width: 148px;
  }

  /* about features style */

  .about-features-background {
    background-position: top 50% center;
    background-size: 135% auto;
    padding-top: 72px;
  }

  .about-features-item {
    width: 100px;
  }

  .about-features-img {
    width: 100px;
    height: 100px;
  }

  .about-features-woman-icon {
    width: 49px;
  }

  .about-features-girl-icon {
    width: 44px;
  }

  .about-features-pregnant-icon {
    width: 37px;
  }

  .about-features-content {
    flex-direction: column;
  }

  .about-features-text-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .about-features-text {
    font-size: 12px;
    line-height: 2;
    text-align: center;
  }

  .about-features-arrow-icon {
    width: 7px;
  }

  /* WHY LEGKOLAKS Section Style */

  .why-legkolaks {
    padding-bottom: 43px;
  }

  .why-legkolaks-desk-wrap {
    margin-bottom: 43px;
  }

  .why-legkolaks-use-video-img {
    max-width: 834px;
  }

  .why-legkolaks-use-video-icon {
    width: 70px;
    height: 70px;
  }

  /* HOW TO USE Section Style */

  .how-to-use {
    padding-bottom: 71px;
  }

  .how-to-use-container {
    padding: 0 72px;
  }

  .how-to-use-desk-wrap {
    margin-bottom: 67px;
  }

  .how-to-use-age-box {
    padding-bottom: 0;
  }

  .how-to-use-age-box-list {
    max-width: 190px;
  }

  @media screen and (min-width: 1160px) {
    .how-to-use-age-box-list {
      max-width: 200px;
    }
  }

  /* Footer Section Style */

  .footer {
    padding-bottom: 92px;
  }

  /* CONTRAINDICATIONS Section Style */

  .contraindications {
    padding: 6px 12px;
  }

  .contraindications-icon {
    background-image: url(../img/svg/icon-contraindications-desk.svg);
  }

  /* SCROLL BUTTON Style */

  #scrollToTopBtn {
    right: 60px;
    width: 50px;
    height: 50px;
  }
}

/* ----------MEDIA 1200px Style---------- */

/* ABOUT Section Style */

@media screen and (min-width: 1200px) {
  .about-features-background {
    background-position: top 65% center;
    padding-top: 84px;
  }

  .about-features-item {
    width: 159px;
  }

  .about-features-img {
    width: 118px;
    height: 118px;
  }

  .about-features-woman-icon {
    width: 58px;
  }

  .about-features-girl-icon {
    width: 53px;
  }

  .about-features-pregnant-icon {
    width: 43px;
  }

  .about-features-title {
    font-size: 14px;
  }
}

/* ----------MEDIA 1440px Style---------- */

@media screen and (min-width: 1440px) {
  /* IMG HOVER Style */
  .img-about-girl-hover {
    transition: transform var(--img-tra);
  }

  .img-about-girl-hover:hover,
  .img-about-girl-hover:focus {
    transform: scale(1.1);
  }

  /* HEADER Section Styles */

  /* navigation style */

  .header-nav-list {
    gap: 64px;
  }

  .header-nav-link {
    font-size: 16px;
  }

  /* pharmacy style */

  .pharmacy-link {
    margin-right: 79px;
    width: 189px;
    font-size: 18px;
    line-height: 1.44;
    padding: 12px 28px;
  }

  .pharmacy-link:is(:hover, :focus) {
    background-color: #40c4fe;
    border-color: #40c4fe;
  }

  /* language box style */

  .lang-list {
    line-height: 1.18;
  }

  /* Common styles */

  .h2-title {
    font-size: 40px;
    line-height: 1.25;
  }

  /* HEADER Section Styles */

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* logo style */

  .logo-icon {
    width: 168px;
    height: 26px;
  }

  /* HERO Section Style */

  .hero {
    padding-top: 92px;
    padding-bottom: 99px;
  }

  .hero-background {
    padding: 260px 0 260px;
    border-radius: 30px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
  }

  .hero-title-wrap {
    left: 51%;
  }

  .hero-title {
    font-size: 70px;
    line-height: 1.26;
    margin-bottom: 12px;
  }

  .hero-subtitle {
    font-size: 28px;
    line-height: 1.5;
    margin-left: -25px;
  }

  .hero-woman-img-pic {
    width: 100%;
    left: 2%;
    bottom: -1px;
    transform: translateX(-25%);
  }

  .hero-legkolax_packs-img-pic {
    left: 28%;
    width: 100%;
  }

  /* ABOUT Section Style */

  .about {
    padding-bottom: 99px;
  }

  .about-bubble-medium {
    position: absolute;
    top: -5%;
    right: 3%;
    transform: translate(5%, -3%);
    width: 76px;
    height: 76px;
    background-image: linear-gradient(180deg, #5beeff 0%, #25bbfe 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  .about-title-wrap {
    max-width: 543px;
  }

  .about-title {
    margin-bottom: 32px;
  }

  .about-text-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-cause-list {
    gap: 25px;
  }

  .about-img-pic {
    width: 260px;
  }

  .about-subtitle {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 28px;
  }

  .about-subtitle-text {
    font-size: 17px;
  }

  .about-features-background {
    background-position: top 61% left 38%;
    background-size: auto;
    padding-top: 101px;
  }

  .about-features-list {
    gap: 107px;
  }

  .about-features-item {
    width: 191px;
    gap: 16px;
  }

  .about-features-img {
    width: 142px;
    height: 142px;
  }

  .about-features-woman-icon {
    width: 70px;
  }

  .about-features-girl-icon {
    width: 63px;
  }

  .about-features-pregnant-icon {
    width: 52px;
  }

  .about-features-title {
    font-size: 17px;
    line-height: 1.41;
  }

  .about-features-arrow-icon {
    width: 9px;
  }

  .about-features-link:is(:hover, :focus) {
    color: #25bbfe;
  }

  /* WHY LEGKOLAKS Section Style */

  .why-legkolaks {
    padding-bottom: 72px;
  }

  .why-legkolaks-desk-wrap {
    row-gap: 32px;
    margin-bottom: 72px;
  }

  .why-legkolaks-title {
    margin-bottom: 32px;
  }

  .why-legkolaks-content-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .why-legkolaks-text,
  .why-legkolaks-use-text,
  .why-legkolaks-box-text {
    font-size: 17px;
    line-height: 1.47;
  }

  .why-legkolaks-box-list {
    padding: 33px;
  }

  .why-legkolaks-box-title {
    font-size: 28px;
    line-height: 1;
  }

  .why-legkolaks-box-pic {
    margin-right: 22px;
  }

  .why-legkolaks-box-icon,
  .why-legkolaks-use-icon {
    width: 50px;
    height: 50px;
  }

  .why-legkolaks-box-icon {
    margin-right: 22px;
  }

  .why-legkolaks-use-list {
    margin-bottom: 32px;
  }

  .why-legkolaks-use-item {
    gap: 20px;
  }

  .why-legkolaks-use-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .why-legkolaks-use-link-btn {
    width: 218px;
  }

  .why-legkolaks-use-link {
    font-size: 18px;
    line-height: 1.44;
    padding: 12px 37px;
  }

  .why-legkolaks-use-link:is(:hover, :focus) {
    color: #2468a6;
    border: 2px solid #40c4fe;
    background-color: transparent;
  }

  .why-legkolaks-use-video-icon:is(:hover, :focus) {
    background-color: #40c4fe;
  }

  .why-legkolaks-use-video-bubble-small {
    position: absolute;
    bottom: -5%;
    left: 5%;
    transform: translate(5%, -5%) rotate(-90deg);
    width: 74px;
    height: 74px;
    background-image: linear-gradient(244.57deg, #11e4fc 17.29%, #25bbfe 55.89%);
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .why-legkolaks-use-video-bubble-medium {
    position: absolute;
    top: 0;
    right: 5%;
    transform: translateX(-5%) rotate(-90deg);
    width: 122px;
    height: 122px;
    background-image: linear-gradient(244.57deg, #11e4fc 17.29%, #25bbfe 55.89%);
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  /* HOW TO USE Section Style */

  .how-to-use {
    padding-bottom: 100px;
  }

  .how-to-use-desk-wrap {
    margin-bottom: 95px;
  }

  .how-to-use-desk-flex {
    flex: 0 0 46%;
    max-width: 46%;
  }

  .how-to-use-title {
    margin-bottom: 32px;
  }

  .how-to-use-subtitle {
    font-size: 20px;
    line-height: 1.4;
  }

  .how-to-use-link-btn {
    width: 218px;
  }

  .how-to-use-link {
    padding: 12px 37px;
    font-size: 18px;
    line-height: 1.44;
  }

  .how-to-use-link:is(:hover, :focus) {
    color: #2468a6;
    border: 2px solid #40c4fe;
    background-color: transparent;
  }

  .how-to-use-list {
    margin-top: 34px;
  }

  .how-to-use-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .how-to-use-wrap {
    gap: 15px;
  }

  .how-to-use-icon {
    width: 55px;
    height: 55px;
  }

  .how-to-use-text {
    font-size: 17px;
    line-height: 1.47;
  }

  .how-to-use-age-box {
    gap: 16px;
  }

  .how-to-use-age-box-list {
    max-width: 208px;
  }

  .how-to-use-age-box-text-first {
    line-height: 1.38;
  }

  .how-to-use-age-box-item-first,
  .how-to-use-age-box-item {
    height: calc(171px / 2);
    padding: 20px;
  }

  /* Footer Section Style */

  .footer {
    padding-bottom: 116px;
  }

  .contraindications-container {
    padding: 12px 16px;
  }

  /* SCROLL BUTTON Style */

  #scrollToTopBtn {
    bottom: 180px;
    right: 80px;
  }
}

/* ----------MEDIA 1550px Style---------- */
@media screen and (min-width: 1550px) {
  .why-legkolaks-use-video {
    background-size: contain !important;
  }
}
